extends /layout/_default-layout

prepend config-block
  - page_name = 'wgld.org - w014'
  - description = 'https://wgld.org/d/webgl/w014.html'

block javascript-block
  script(src="./vs.vert" type="x-shader/x-vertex" id="vs")
  script(src="./fs.frag" type="x-shader/x-fragment" id="fs")

block content-block
  canvas#canvas